<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <h1>Sign In</h1>
        <form [formGroup]="signinForm">
          <small
            class="validation-message"
            *ngIf="email.value === '' || password.value === ''"
            >Email and password are required.</small
          >
          <small
            class="validation-message"
            *ngIf="
              signinForm.get('email').invalid && signinForm.get('email').touched
            "
            >Email is not invalid.</small
          >
          <small
            class="validation-message"
            *ngIf="
              signinForm.get('password').invalid &&
              signinForm.get('password').touched
            "
            >Password must be at least 4 characters long.</small
          >
          <ion-item>
            <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>
            <ion-input
              type="text"
              placeholder="Email"
              #email
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label
              ><ion-icon name="lock-closed-outline"></ion-icon
            ></ion-label>
            <ion-input
              type="password"
              placeholder="Password"
              #password
              formControlName="password"
            ></ion-input>
          </ion-item>
          <a href="/" id="forgot-password-link">forgot password?</a>
        </form>
        <div class="third-party-login">
          <h2>Sign in with</h2>
          <ion-router-link routerDirection href="/master-list"
            ><ion-icon name="logo-facebook"></ion-icon
          ></ion-router-link>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="buttons">
      <ion-col size="6" class="ion-align-self-start"
        ><ion-button shape="round" fill="outline">Sign Up</ion-button></ion-col
      >
      <ion-col size="6" class="ion-align-self-end"
        ><ion-button
          shape="round"
          routerDirection
          href="/master-list"
          [disabled]="signinForm.invalid"
          >Sign In</ion-button
        ></ion-col
      >
    </ion-row>
    <a href="/" id="terms-conditions-link">Terms and conditions</a>
  </ion-grid>
</ion-content>
