ion-menu-toggle {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 50% 15%;
  justify-items: center;
  align-items: center;

  ion-icon {
    color: gray;
  }
}
