ion-button {
  width: fit-content;
  color: gray;
}

ion-content {
  position: relative;
  --background: lightgrey;
}

ion-grid {
  max-width: 1200px;
  padding: 2rem 0;

  ion-row:first-of-type {
    ion-col {
      padding: 0;
    }
  }

  ion-row:not(:first-of-type) {
    padding: 0 2rem;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .content {
    line-height: 2rem;
  }

  #copyright {
    color: gray;
  }
}
